<!--<clr-header class="header-5">
    <div class="branding">
        <a routerLink="./about/overview" class="nav-link">
            <span class="clr-icon resumeLogo"></span>
            <span class="title">Technology Solutions</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./about"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">About</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./personal-information"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">portfolio</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./skills"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Skils</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./work-experience"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Work Experience</span></a
        >
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger>
                Contact
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="mailto:ricardo-ss@hotmail.com" clrDropdownItem>ricardo-ss@hotmail.com</a>
                <a href="tel:3312560331" clrDropdownItem>3312560331</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>-->
<div class="navbar-container">
  <div class="mobile-navigation" *ngIf="innerWidth <= 900">
    <div class="menu-icon">
      <a (click)="toggleMenu()">
        <clr-icon
          shape="bars"
          class="is-inverse"
          style="width: 25px; height: 25px;"
        ></clr-icon>
      </a>
    </div>
    <div class="logo-container-mobile">
      Technology Solutions
    </div>
    <div class="links-container-mobile" [@hideShow]="hide ? 'hide' : 'show'">
      <div class="icon-container">
        <a (click)="toggleMenu()">
          <clr-icon
            shape="times"
            class="is-inverse"
            style="width: 25px; height: 25px;"
          ></clr-icon>
        </a>
      </div>
      <div class="links">
        <a routerLink="/home" routerLinkActive="activeLink" (click)="hide = !hide">Home</a>
        <a routerLink="/about" routerLinkActive="activeLink" (click)="hide = !hide">About</a>
        <a routerLink="/contact" routerLinkActive="activeLink" (click)="hide = !hide">Contact</a>
      </div>
    </div>
  </div>
  <div class="normal-navigation" *ngIf="innerWidth > 900">
    <div class="logo-container">
      Technology Solutions
    </div>
    <div class="links-container">
      <a routerLink="/home" routerLinkActive="activeLink">Home</a>
      <a routerLink="/about" routerLinkActive="activeLink">About</a>
      <a routerLink="/contact" routerLinkActive="activeLink">Contact</a>
    </div>
  </div>
</div>
