<!--<clr-header class="header-5">
    <div class="branding">
        <a routerLink="./about/overview" class="nav-link">
            <span class="clr-icon resumeLogo"></span>
            <span class="title">Technology Solutions</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./about"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">About</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./personal-information"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">portfolio</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./skills"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Skils</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./work-experience"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Work Experience</span></a
        >
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger>
                Contact
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="mailto:ricardo-ss@hotmail.com" clrDropdownItem>ricardo-ss@hotmail.com</a>
                <a href="tel:3312560331" clrDropdownItem>3312560331</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>-->
<div class="navbar-fixed">

</div>
