<div class="presentation-container">
  <div class="header-container">
    <div class="header-text">
      Technology Solutions
    </div>
  </div>
  <div class="explanation-container">
    <div class="explanation-text" [@hideShow]="window >= 130 ? 'show' : 'hide'">
      <img src="../../../../assets/img/personalizedSoftware.png" />
      <h3>Custom Software</h3>
      Our programs are made accordingly to the necessity of each customer, with
      the optimal approach to help them reach success. Applying the best
      practices while developing and using the latest tools and technology.
    </div>
    <div class="explanation-img">
      <img src="../../../../assets/img/personalizedSoftware2.png" />
    </div>
  </div>
  <div class="benefits-container">
    <div class="benefits-header">
      Benefits you get with us:
    </div>
    <div class="benefits-details">
      <div
        class="benefits-first-row"
        [@disappearAppaer]="window >= 800 ? 'appear' : 'disappear'"
      >
        <div>
          <img src="../../../../assets/img/customIcon.png" />
          <div>
            <h3>
              SERVICES
            </h3>
            <span>
              FULL CUSTOMIZABLE APPS.
            </span>
          </div>
        </div>
        <div>
          <img src="../../../../assets/img/qualityIcon.png" />
          <div>
            <h3>
              QUALITY
            </h3>
            <span>
              BEST PRACTICES TO ACHIEVE A FULLY FUNCTIONAL AND SCALABLE SOFTWARE
              ACCORDING TO YOUR NEEDS.
            </span>
          </div>
        </div>
        <div>
          <img src="../../../../assets/img/assessmentIcon.png" />
          <div>
            <h3>
              GUIDANCE
            </h3>
            <span>
              A COMPLETE EXPERIENCE WHERE WE'LL HELP YOU TO REACH YOUR GOALS BY
              OUR TEAM OF EXPERTS.
            </span>
          </div>
        </div>
      </div>
      <div
        *ngIf="innerWidth > 900 || !resizecheck"
        class="benefits-center-image"
      >
        <img src="../../../../assets/img/customSoftware.png" />
      </div>
      <div
        class="benefits-second-row"
        [@disappearAppaer]="window >= 800 ? 'appear' : 'disappear'"
      >
        <div>
          <div>
            <h3>COST-BENEFIT</h3>
            <span>
              SOFTWARE OF GREAT QUALITY AT A GREAT PRICE.
            </span>
          </div>
          <img src="../../../../assets/img/moneyIcon.png" />
        </div>
        <div>
          <div>
            <h3>GUARANTEE</h3>
            <span>
              WE GUARANTEE THE HIGHEST QUALITY.
            </span>
          </div>
          <img src="../../../../assets/img/guaranteeIcon.png" />
        </div>
        <div>
          <div>
            <h3>POST SALE SUPPORT</h3>
            <span>
              OUR WORK DOESN'T END WITH THE SALE, WE'LL TEACH YOU HOW TO USE THE
              SOFTWARE AND GIVE TECHNICAL SUPPORT IF NEEDED.
            </span>
          </div>
          <img src="../../../../assets/img/supportIcon.png" />
        </div>
      </div>
    </div>
  </div>
</div>
