<div class="presentation-container">
  <div class="header-container">
    <div class="header-text">
      Technology Solutions
    </div>
  </div>
  <div class="explanation-container">
    <div class="explanation-text" [@hideShow]="window >= 159 ? 'show' : 'hide'">
      <img src="../../../../assets/img/personalizedSoftware.png" />
      <h3>Custom Software</h3>
        Our programs are made according to the necessity of each customer,
        giving them the right approach to help them reach success. 
        Applying the best practices while developing and using the latest tools and technology.
    </div>
    <div class="explanation-img">
        <img src="../../../../assets/img/personalizedSoftware2.png">
    </div>
  </div>
  <div class="benefits-container">
      
  </div>
</div>
